{% extends 'AppBeautyStudio/padre.html' %}

{% block titulo %}
Formulario - Agregar Cliente 
{% endblock titulo %}

{% block contenido %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="{% url 'clientes-formulario' %}" method="POST">
                {% csrf_token %}
                <!--<p>Nombre: <input type="text" name= "nombre"></p>
                <p>Apellidos: <input type="text" name= "apellidos"></p>
                <p>Teléfono: <input type="text" name= "telefono"></p>
                <p>E-mail: <input type="text" name= "email"></p>
                <input type="submit" value="Enviar"> -->
                <table>
                {{ formulario_clientes.as_table }}
                </table>
                <input type="submit" value="Enviar">
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}