{% extends 'AppBeautyStudio/padre.html' %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>SERVICIOS</h1>
                <p>
                    <ul>
                        {% for servicio in servicios %}
                            <li>{{ servicio }} - <a href="{% url 'eliminar-servicios' servicio.id %}">Eliminar</a>   <a href="{% url 'editar-servicios' servicio.id %}">Editar</a>
                            </li>
                        {% endfor %}
                    </ul>

                </p>
                {% if mi_formulario %}
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ mi_formulario.as_p }}
                    <input type="submit" value="Guardar cambios">
                </form>
                {% endif %}
                <h1>Agregar servicio</h1>
                    <button>
                    <a href="{% url 'servicios-formulario' %}">Agregar servicio</a>
                    </button>
           
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}