{% extends 'AppBeautyStudio/padre.html' %}

{% block titulo %}
Editar Perfil
{% endblock titulo %}

{% block contenido %}

<section class="mt-5">


    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-12"> 

                <h1>Formulario - Editar Perfil</h1>
                <h3>Usuario> {{ usuario }}</h3>

                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ mi_formulario.as_table }}
                    </table>

                    <input type="submit" value="Editar Perfil">
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock contenido %}
        