{% extends 'AppBeautyStudio/padre.html' %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Especialistas de Beauty Studio 3.14</h1>

                <ul>
                    {% for especialista in object_list %} 
                    <li>
                        <p>Especialista: {{especialista.nombre}} {{ especialista.apellidos }} </p>
                        <p>
                            <a href="{% url 'especialistas-detalle' especialista.id %}">Ver</a>
                            <a href="{% url 'especialistas-editar' especialista.id %}">Editar</a>
                            <a href="{% url 'especialistas-eliminar' especialista.id %}">Eliminar</a>
                        </p>
                    </li>
                    {% endfor %}
                    <p>
                        <a href="{% url 'especialistas-nuevo' %}">Crear Especialista</a>
                    </p>
                </ul>

            </div>
        </div>
    </div>
</section>
{% endblock contenido %}