{% extends 'AppBeautyStudio/padre.html' %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Especialistas</h1>
                {% if formulario_especialistas.errors %}
                <p style="color: crimson;">Algo está mal. Por favor, revise los datos.</p>
                {% endif %}

                <h4>Especialistas disponibles:</h4>
                {% for especialista in mis_especialistas %}
                {{ especialista.profesion }}: {{ especialista.nombre }} {{ especialista.apellidos }} <br>
                {% endfor %}
                <hr>

                {% if nuevo_especialista %}

                <p style="color: darkgreen;">Se agregó satisfactoriamente el especialista {{ nuevo_especialista.nombre }} {{ nuevo_especialista.apellidos }}.</p>
                <hr>

                {% endif %}

                <form action="{% url 'especialistas' %}" method="POST">
                {% csrf_token %}

                    <table>
                        {{ formulario_especialistas.as_table }}
                    </table>
                    <br>
                    <input type="submit" value="Agregar Especialista">
                    <hr>

                </form>

                <br>
                <br>

                <head>
                    <meta charset="UTF-12">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width,initial-scale=1.0">
                    <title>Búsqueda</title>
                </head>
                <body>
                    <form action="{% url 'buscar' %}" method="GET">
                        {% csrf_token %}
                        <input type="text" name="apellidos" id="especialista">
                        <input type="submit" value="Buscar">
                    </form>
                </body>

            </div>
        </div>
    </div>
</section>
{% endblock contenido %}