{% extends 'AppBeautyStudio/padre.html' %}

{% block contenido %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>Especialistas altamente cualificad@s</h3>
                    <p class="lead mb-0">con mucha experiencia y formación profesional continua porque la pefección no tiene límites!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3>Mejores precios</h3>
                    <p class="lead mb-0">Tenemos precios competitivos!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>Calidad garantizada</h3>
                    <p class="lead mb-0">Nos encanta cuando te vas content@ y feliz!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/AppBeautyStudio/assets/img/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Uñas de Gel, extensiones</h2>
                <p class="lead mb-0">Una de las ventajas de las uñas de gel y las extensiones de uñas es su durabilidad. Ambas técnicas pueden durar hasta tres semanas sin necesidad de mantenimiento, lo que las hace ideales para aquellas personas que tienen un estilo de vida ocupado.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url(  'static/AppBeautyStudio/assets/img/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Extensiones de pestañas y micropigmentación de cejas</h2>
                <p class="lead mb-0">Puedes elegir entre diferentes estilos, longitudes y curvaturas para personalizar tus pestañas y adaptarlas a tu estilo y personalidad.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/AppBeautyStudio/assets/img/bg-showcase-3.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Micropigmentación de labios</h2>
                <p class="lead mb-0">La técnica de micropigmentación de cejas es ideal para aquellas personas que tienen cejas poco pobladas o desiguales y desean lucir unas cejas perfectas.</p>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}
        