{% extends 'AppBeautyStudio/padre.html' %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Registro de nuevo usuario</h1>
                {% if mensaje %}
                <p style="color: teal;">{{ mensaje }}</p>
                {% endif %}
                
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit">Crear usuario</button>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock contenido %}