<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-12">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Resultados de la búsqueda</title>
</head>
<body>
    <p>Estamos buscando especialista {{ especialista }}</p>

    {% if especialistas %}

    <ul>
        {% for especialista in especialistas %}
        <li>{{ especialista.apellidos }}: {{ especialista.profesion }}</li>
        {% endfor %}
    </ul>

    {% endif %}
</body>
</html>