{% extends 'AppBeautyStudio/padre.html' %}

{% block contenido %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>SERVICIOS</h1>
                <p>Extensiones de pestañas</p>
                <p>Micropigmentación cejas</p>
                <p>Micropigmentación labios</p>
                <p>Uñas de gel. Manicura rusa</p>
                <p>Extensiones de uñas</p>
                <p>Depilación láser</p>
                <p>Make Up</p>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}