{% extends 'AppBeautyStudio/padre.html' %}

{% block titulo %}
Formulario - Agregar Servicio 
{% endblock titulo %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="{% url 'servicios-formulario' %}" method="POST">
                {% csrf_token %}
                <!--<p>Servicio: <input type="text" name= "servicio"></p>
                <p>Precio: <input type="text" name= "precio"></p>
                <input type="submit" value="Enviar"> -->
                <table>
                {{ formulario_servicios.as_table }}
                </table>
                <input type="submit" value="Enviar">
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}